<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MasterConnection"
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=master;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />

		<add name="DefaultConnection"
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=ShopDB2;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>